/* @import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
/* @plugin "tailwindcss-animate"; */

@theme {
  --text-tiny: 0.625rem;
  --text-tiny--line-height: 1.5rem;
  --text-tiny--letter-spacing: 0.125rem;
  --text-tiny--font-weight: 500;
}
@theme {
  --test-400: #ffad00;
  --font-roboto: "Roboto", sans-serif;
  --font-inter: "Inter", sans-serif;
}

.bg-test {
  background-color: var(--test-400);
}
@utility black-theme {
  background-color: rgb(0, 0, 0);
  color: #ffffff;
}
/* working */
@utility card {
  background-color: #e6e6e6;
  /* background-color: var(--color-gray); */
  border-radius: var(--rounded-lg);
  padding: 10px;
  box-shadow: var(--shadow-xl);
  color: #0a0a0a;
}
/* customize class */
@layer components {
  .card1 {
    background: #000;
  }
}

/* customize base element */
@layer base {
  h1 {
    /* font-size: var(--text-5xl); */
    font-size: 2.5em;
    font-weight: bold;
  }
  h2 {
    /* @apply font-bold text-4xl */
    font-size: 2em;
    font-weight: bold;
  }
  h3 {
    font-size: 1.5em;
    font-weight: bold;
  }
  h4 {
    font-size: 1.33em;
    font-weight: bold;
  }
  h5 {
    font-size: 1.17em;
    font-weight: bold;
  }
  h6 {
    font-size: 1em;
    font-weight: bold;
  }
  /* a {
    color: var(--color-blue-600);
    text-decoration-line: underline;
  } */
  hr {
    margin: 12px 0;
  }
  input,
  textarea,
  select {
    width: 100%;
    background-color: white;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

[data-theme="dark"] {
  --background: black;
  --foreground: white;
}

/* custom theme app e use na korle  */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color: white;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

input:focus {
  outline-width: 0;
  border-color: #df5d5d;
}

th {
  font-weight: bolder;
  background-color: aquamarine;
}
/* 
* {
  scrollbar-gutter: stable;
} */

.size-font {
  font-size: clamp(8px, 1vw, 100px);
}
